html {
    min-height: 100vh;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 26px;
    font-family: 'Roboto Medium', 'Arial', sans-serif;
    font-weight: 400;
    color: $text-color;
    font-style: normal;
    background: $background-color;
}

main {
    flex-grow: 1;
    background-color: $background-color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    @include container;
}

.visually-hidden:not(:focus) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


