$text-color: #040d0d; 
$top-color: #040c0e;
$background-color: #ffffff;
$light-top: #c8d4dc;
$time-color: #dbdee6;
$input-color: #eff0f4;
$advantage-color: #e3e5eb;
$top-button: #bcc3c5;
$minus-coloe: #cb0b13;
$link-color: #4673ab;
$discount-color: #499ad9;
$footer-text-color: #c8d4dc;
$footer-top: #5c7489;
$footer-bottom: #2c3f53;
$placeholder-color: #7f8485;
$dark-blue: #394a5c;
$hover-color: #ff5816;
$button-color: #ff5e1e;
$new-color: #42c16c;
$plus-color: #16a333;
$best-color: #f7c159; 


$large-screen: 1170px;
$small-screen: 970px;
$tablet: 750px;
$mobile: 320px;
