@media (min-width: $tablet) {
    .main-brand {
        display: block;
        flex-shrink: 0;
        width: auto;
        padding-top: 12px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}