.region-chooser {
    &__title {
        color: $link-color;
        text-decoration: none;
        border-bottom: 1px dashed $link-color;
        cursor: pointer;
        transition: color 0.3s ease-in-out,
            border-bottom-color 0.3s ease-in-out;

        &:hover,
        &:focus {
            color: $hover-color;
            border-bottom-color: $hover-color;
        }
    }
}