.tabs {
    &__btn-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: -8px;
        margin-right: -10px;
        margin-left: -10px;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        padding-right: 7px;
        padding-left: 7px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 8px;
        color: $hover-color;
        font-size: 15px;
        font-family: 'Roboto';
        font-weight: 700;
        text-transform: uppercase;
        background-color: $time-color;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:not(:last-child) {
            margin-right: 4px;
        }

        &::after {
            content: '';
            width: 100%;
            border-bottom: 1px dotted $hover-color;
            transition: border-bottom-color 0.3s ease-in-out;
        }

        &:hover,
        &:focus {
            background-color: $link-color;
            outline: 0;
        }

        &:first-child {
            padding-left: 10px;
            padding-right: 28px;
        }
    }

    &__btn[aria-selected="true"] {        
        color: $text-color;
        background-color: transparent;  
        
        &::after {
            content: '';
            width: 100%;
            border-bottom-color: transparent;
        }
    }

    &__panel {
        display: flex;
        flex-wrap: wrap;
        padding-top: 24px;
        padding-bottom: 40px;

        &.hidden {
            display: none;
        }
    }
}

@media (min-width: $tablet) {
    .tabs {
        &__btn {
            padding-right: 25px;
            padding-left: 25px;
        }

        &__btn-wrapper {
            margin-top: 0;
        }
    }
}

@media (min-width: $large-screen) {
    .tabs {
        &__btn {
            padding-top: 13px;
            padding-bottom: 13px;
        }
    }
}